


.add-book{
  width: 80vh;
  min-height: 15vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 30px;
  font-family:Arial, Helvetica, sans-serif;
 
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.box-center{
  display: flex;
  justify-content: center;
  
}

.box{
  background-color: white;
  width: 60vh;
  height: 70vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
  border: 1rem ;
  font-family: "Inter var", Inter, sans-serif;

  
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}